---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"><i class='fa fa-calendar'></i> {{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
<div class="wrapup">
	<div class="row">
		<div class="column">
			Am I missing anything? Be my guest and share your thoughts from {% include icon-twitter.html username=site.twitter_username %}. Or create an issue on github at {% include icon-github-issues.html %}
		</div>
	</div>
</div>